@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Crear";
   
}

@model Animal

<h1>
    Crear Animales David
</h1>

<form asp-action="crear" asp-controller="animales" method="post" asp-antiforgery="true">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="IdAnimal"></label>
        <input asp-for="IdAnimal" class="form-control"/>
        <span asp-validation-for="IdAnimal" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger" onclick="MostrarAnimales(IdAnimal, Nombre)"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>



@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}