@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .tipoAnimales{
        border: solid 1px #aaa;
        border-radius: 10px;
        padding: 12px;
    }

    .tipoAnimales .tipoAnimales{
        display: inline-block;
        float: left;
        max-width: 200px;
        font-size: 12px;
    }

    .clearer{
        clear: both;
    }
</style>

<div class="tipoAnimales">
    <p>Tipo de animales</p>

    <div class="animales">
        <h4>Gatos</h4>
        <p>Los gatos son</p>

    </div>
    <div class="animales">
        <h4>Perros</h4>
        <p>Los perros son</p>

    </div>
    <div class="animales">
        <h4>Conejos</h4>
        <p>Los conejos son</p>

    </div>
    <div class="animales">
        <h4>Hamsters</h4>
        <p>Los hamsters son</p>

    </div>
    <div class="clearer"></div>
</div>